<h1>Listing records</h1>

<table>
  <tr>
    <th></th>
    <th>Content</th>    
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= link_to 'x', record, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= record.content %></td>
  </tr>
<% end %>
</table>

<br />

<%= render 'form' %>